server:
  port: 8081

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/kida10-tech/springboot-microservices-store.git
          searchPaths: config-data
          username: ${GIT_USER}
          password: ${GIT_PASSWORD}
security:
  user:
    name: root
    password: secret